<h1 mat-dialog-title style="font-size: 1.3rem;">{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Nombre Raza</mat-label>
      <input
        formControlName="name"
        #message
        maxlength="25"
        matInput
        placeholder="Ingrese Nombre De Raza"
      />
      <mat-error
        *ngIf="
          form.get('name')?.hasError('required') && form.get('name')?.touched
        "
      >
        Por favor ingrese un nombre de raza
      </mat-error>
      <mat-error
        *ngIf="
          form.get('name')?.hasError('minlength') && form.get('name')?.touched
        "
      >
        Mínimo 3 caracteres
      </mat-error>
      <mat-error
        *ngIf="
          form.get('name')?.hasError('maxlength') && form.get('name')?.touched
        "
      >
        Máximo 25 caracteres
      </mat-error>
      <mat-hint align="end">{{ message.value.length }} / 25</mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Especie</mat-label>
      <mat-select formControlName="specie">
        <mat-option *ngFor="let specie of species" [value]="specie._id">{{
          specie.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('specie')?.hasError('required')">
        Por favor seleccione una especie
      </mat-error>
    </mat-form-field>

    <div>
      <button
        class="btn-modal"
        [disabled]="form.invalid"
        type="submit"
        mat-dialog-close
        mat-raised-button
        color="primary"
      >
        <mat-icon>save</mat-icon> {{ titleButton }}
      </button>
    </div>
  </form>
</div>
