<h1 mat-dialog-title class="dialog-title">{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Nombre Raza</mat-label>
      <input
        formControlName="name"
        #message
        maxlength="25"
        matInput
        placeholder="Ingrese Nombre De Raza"
      />
      @if (form.get('name')?.hasError('required') && form.get('name')?.touched)
      {
      <mat-error>Por favor ingrese un nombre de raza</mat-error>
      } @else if (form.get('name')?.hasError('minlength') &&
      form.get('name')?.touched) {
      <mat-error>Mínimo 3 caracteres</mat-error>
      }
      <mat-hint align="end">{{ message.value.length }} / 25</mat-hint>
    </mat-form-field>
    <br />

    <mat-form-field>
      <!-- <mat-label>Especies</mat-label> -->
      <mat-select formControlName="specie" placeholder="Especies">
        @for (specie of species; track specie._id) {
        <mat-option [value]="specie._id">{{ specie.name }}</mat-option>
        }
      </mat-select>
      @if (form.get('specie')?.hasError('required')) {
      <mat-error>Por favor seleccione una especie</mat-error>
      }
    </mat-form-field>

    <div>
      <button
        class="btn-modal"
        [disabled]="form.invalid"
        type="submit"
        mat-dialog-close
        mat-raised-button
        color="primary"
      >
        <mat-icon>save</mat-icon> {{ titleButton }}
      </button>
    </div>
  </form>
</div>
