<nav aria-label="breadcrumbs">
  <ol class="breadcrumb" style="margin-top: 0px">
    <li class="breadcrumb-item">
      <a routerLink="/dashboard" class="link"><strong>Inicio</strong></a>
      <ng-container>
        <mat-icon class="chevron">chevron_right</mat-icon>
        <span class="link">Página</span>
      </ng-container>
      <ng-container>
        <mat-icon class="chevron">chevron_right</mat-icon>
        <span class="link">{{ titulo }}</span>
      </ng-container>
    </li>
  </ol>
</nav>
